<template>
  <b-col cols="12" lg="9" class="defaulting-table-wrapper shadow pt-3">
    <h5>Lista de Clientes Inadimplentes</h5>
    <small class="mb-5">Mostrando até {{filters.amount}} registros</small>
    <b-row class="mt-5">
      <b-col cols="6" lg="4">
        <label class="text-left">
          <b>Buscar por Cliente</b><br />
          <b-input v-model="search" placeholder="Márcio" />
        </label>
      </b-col>
      <b-col cols="6" lg="4">
        <label class="text-left">
          <b>Quantidade de registros</b><br />
          <b-input v-model="amount" placeholder="Márcio" />
        </label>
      </b-col>
    </b-row>
    <b-table
      tbody-tr-class="translate"
      striped
      hover
      responsive
      :items="items"
      :fields="fields"
      show-empty
      empty-text="Nenhum registro encontrado"
    >
      <template v-slot:cell(billetValue)="row">
        {{ $money(row.item.billetValue) }}
      </template>
      <template v-slot:cell(date)="row">
        {{ getDate(row.item.date) }}
      </template>
      <template v-slot:head(date)="data">
        <span @click="setOrder('date')" class="pointer">{{ data.label }}</span>
        <span v-if="filters.orderBy === 'date'">
          <fas
            icon="chevron-down"
            class="ml-3"
            v-if="filters.direction === 'ASC'"
          />
          <fas icon="chevron-up" class="ml-3" v-else />
        </span>
      </template>
      <template v-slot:head(billetValue)="data">
        <span @click="setOrder('billetValue')" class="pointer">{{
          data.label
        }}</span>
        <span v-if="filters.orderBy === 'billetValue'">
          <fas
            icon="chevron-down"
            class="ml-3"
            v-if="filters.direction === 'ASC'"
          />
          <fas icon="chevron-up" class="ml-3" v-else />
        </span>
      </template>
      <template v-slot:head(customerName)="data">
        <span @click="setOrder('customerName')" class="pointer">{{
          data.label
        }}</span>
        <span v-if="filters.orderBy === 'customerName'">
          <fas
            icon="chevron-down"
            class="ml-3"
            v-if="filters.direction === 'ASC'"
          />
          <fas icon="chevron-up" class="ml-3" v-else />
        </span>
      </template>
    </b-table>
  </b-col>
</template>
<script>
import moment from "moment";
export default {
  name: "DefaultingTable",
  data() {
    return {
      filters: {
        fieldName: "customerName",
        query: null,
        startAt: null,
        orderBy: null,
        direction: "",
        amount: 20
      },
      search: "",
      amount: 20,
      debouncing: null
    };
  },
  props: {
    items: {
      type: Array,
      default: () => []
    },
    fields: {
      type: Array,
      default: () => [],
      required: false
    }
  },
  methods: {
    getDate: function(date) {
      return moment(date).format("DD/MM/YYYY - H:mm:ss");
    },
    setOrder: function(fieldName) {
      let direction = "ASC";
      if (this.filters.orderBy === fieldName) {
        direction = this.toggleDirection();
      }
      this.filters.orderBy = fieldName;
      this.filters.direction = direction;
    },
    toggleDirection: function() {
      return this.filters.direction === "ASC" ? "DESC" : "ASC";
    },
    dispatch: function() {
      clearTimeout(this.debouncing);
      this.debouncing = setTimeout(() => {
        this.$emit("filter", this.filters);
      }, 500);
    }
  },
  watch: {
    search(n, o) {
      if (n.trim() !== o) {
        this.filters.query = n.trim();
        this.dispatch();
      }
    },
    amount(n, o) {
      if (n.trim() !== o) {
        this.filters.amount = n.trim();
        this.dispatch();
      }
    },
    filters: {
      deep: true,
      handler() {
        this.dispatch();
      }
    }
  }
};
</script>
<style>
.translate {
  animation: translate forwards 300ms;
}
@keyframes translate {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
</style>