<template>
  <b-col cols="12" lg="3" class="mb-3 pt-0">
    <b-row class="bg-light mx-lg-1 shadow-sm pb-5 pt-3">
      <b-col cols="12">
        <h5>Opções</h5>
        <label class="text-left"
          >URL da API<br />
          <b-input v-model="$root.wsUrl" />
        </label>
      </b-col>
      <b-col cols="12" class="mt-2">
        <b-button @click="charge" variant="info" :disabled="$root.onRequest"
          >Popular Banco</b-button
        >
        <fas
          icon="question"
          class="position-absolute mt-2 ml-3"
          v-b-tooltip.hover.right="
            'Insere informações aleatórias no banco de dados'
          "
        />
      </b-col>
      <b-col cols="12" class="mt-2">
        <b-button @click="sync" variant="info" :disabled="$root.onRequest"
          >Ressincronizar</b-button
        >
        <fas
          icon="question"
          class="position-absolute mt-2 ml-3"
          v-b-tooltip.hover.right="'Recarrega as informações da tabela'"
        />
      </b-col>
    </b-row>
  </b-col>
</template>
<script>
export default {
  name: "Options",
  data() {
    return {};
  },

  methods: {
    charge: function() {
      this.$emit("charge");
    },
    sync: function() {
      this.$emit("sync");
    }
  }
};
</script>
<style scoped>
</style>