<template>
  <b-row>
    <!-- <overlayer :show="onRequest" /> -->
    <b-col cols="12">
      <b-row class="mt-5 justify-content-between">
        <options
          class="option-sidebar"
          :class="{
            'slide-fade-down-transition': readyToAnimate,
            hide: !readyToAnimate
          }"
          @charge="charge"
          @sync="sync"
        />
        <defaulting-table
          class="defaulting-table"
          :items="tableItems"
          :fields="tableFields"
          @filter="filter"
          :class="{
            'slide-fade-down-transition': readyToAnimate,
            hide: !readyToAnimate
          }"
        />
      </b-row>
    </b-col>
  </b-row>
</template>

<script>
import DefaultingTable from "./DefaultingTable.vue";
import Options from "./Options.vue";
import DefaultingService from "../services/DefaultingService.js";

export default {
  name: "PageBody",
  components: {
    DefaultingTable,
    Options
  },
  data() {
    return {
      tableItems: [],
      currentFilters: null,
      tableFields: [
        {
          key: "customerName",
          label: "Nome do Cliente"
        },
        {
          key: "billetValue",
          label: "Valor da Dívida"
        },
        {
          key: "date",
          label: "Desde"
        }
      ],
      onRequest: false,
      readyToAnimate: false,
      service: new DefaultingService(this)
    };
  },
  methods: {
    charge: async function() {
      this.$root.onRequest = true;
      if (await this.service.charge()) {
        this.toast("Sucesso!", "Carregamento concluído", "success");
        this.sync();
      }
      this.$root.onRequest = false;
    },
    sync: async function() {
      let result;
      this.$root.onRequest = true;
      if (!this.currentFilters) {
        result = await this.service.sync();
      } else {
        result = await this.service.filter(this.currentFilters);
      }
      this.$root.onRequest = false;
      if (result && Array.isArray(result)) {
        this.pushTable(result);
      } else {
        this.toast("Erro", "Não conseguimos realizar esta operação.", "danger");
      }
    },
    filter: async function(filters) {
      this.currentFilters = { ...filters };
      this.$root.onRequest = true;
      const result = await this.service.filter(this.currentFilters);
      this.$root.onRequest = false;
      if (result && Array.isArray(result)) {
        this.pushTable(result);
      } else {
        this.toast("Alerta", "Nenhum resultado para esta busca", "warning");
      }
    },
    pushTable: function(items) {
      this.tableItems.splice(0, this.tableItems.length);
      items.forEach((item, index) => {
        setTimeout(() => {
          this.tableItems.push(item);
        }, 100 + index * 5);
      });
    },

    toast: function(
      title = "Alerta",
      message = "Mensagem de alerta",
      variant = "success"
    ) {
      return this.$bvToast.toast(message, { title, variant });
    }
  },
  mounted() {
    this.$nextTick(() => {
      setTimeout(() => {
        this.sync();
      }, 1500);
      setTimeout(() => {
        this.readyToAnimate = true;
      }, 500);
    });
  }
};
</script>

<style scoped>
.hide {
  opacity: 0;
}

.option-sidebar,
.defaulting-table {
  transition: ease-in 200ms;
}
.defaulting-table {
  transition-delay: 200ms;
  animation-delay: 200ms;
}

.slide-fade-down-transition {
  opacity: 1;
  animation-duration: 1s;
  animation-name: slide-down;
}
@keyframes slide-down {
  from {
    transform: translateY(-50px) skewY(8deg) rotateX(50deg);
  }
  to {
    transform: translateY(0) skewY(0deg) rotateX(0);
  }
}
</style>