<template>
    <div>
        <page-body v-if="ready"/>
        <b-modal ref="set-api-url-modal" hide-footer>
            Por favor, digite a URL da API:<br/>
            <b-input v-model="$root.wsUrl" /><br/>
            <b-button  variant="success" @click="setReadyState">Ok</b-button>
        </b-modal>
    </div>
</template>

<script>
import PageBody from './components/PageBody'
export default {
    name: 'Home',
    data() {
        return {
            ready: false,
        }
    },
    components: {
        PageBody
    },
    methods: {
        setReadyState: function(){
            this.ready = true;
            this.$refs['set-api-url-modal'].hide();
        }
    },
    mounted() {
        this.$nextTick(() => {
            if(!this.ready) {
                this.$refs['set-api-url-modal'].show();
            }
        })
    }
}
</script>